<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>
    <%- include('../partials/head') %>
      <link rel="stylesheet" href="style/Home.css">
</head>
<body>
    <header>      
        <%- include('../partials/header')%>
        
    </header>

    <!--------------- Main -------------------------------------------------->

        <h1 style="margin-left: 20px;">Thanks for signing in!</h1>
        <p style="margin-left: 20px;">Your attendance has been succesfully recorded.</p>
    
    <!--------------- Footer -------------------------------------------------->

    <footer>
      <%- include('../partials/footer') %>
    </footer>
  
  </body>
</html>