<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>      
        <%- include('../partials/header')%>
        <link rel="stylesheet" href="/DenisLawWebApp/public/style/Home.css">
    </header>

    <!--------------- Main -------------------------------------------------->

    <section class="u-align-center u-clearfix u-image u-section-1" id="carousel_74b1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-arial u-text u-text-body-alt-color u-text-1">Welcome to the Denis Law Legacy Trust sessions guide</h2>
        <a href="https://www.denislawlegacytrust.org/denis-law" class="u-btn u-button-style u-palette-2-base u-btn-1">Learn More</a>
      </div>
    </section>
    
    <!--------------- Footer -------------------------------------------------->

    <footer>
      <%- include('../partials/footer') %>
    </footer>
  
  </body>
</html>