<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>      
        <%- include('../partials/header')%>
        <link rel="stylesheet" href="style/Mark-Attendance.css">
    </header>

      <!--------------- Main -------------------------------------------------->
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1418" data-image-height="626" id="sec-0033">
      <div class="u-align-center u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Hello [Example Name]!</h2>
        <p class="u-text u-text-2">For current session, please mark your attendance below:<br>
        </p>
        <br>
        <br>
        <label for="sessions">Choose a session to attend:</label>
        <select name="sessions" id="sessions">
          <option value="Event 1 - 22/11/21 - 19:00">Event 1 - 22/11/21 - 19:00</option>
          <option value="Event 2 - 25/11/21 - 14:00">Event 2 - 25/11/21 - 14:00</option>
          <option value="Event 3 - 29/11/21 - 18:00">Event 3 - 29/11/21 - 18:00</option>
        </select>
        <a href="/Mark-Attendance" class="u-btn u-button-style u-btn-1" id = "Mark-Attendance-Button">MARK ATTENDANCE<br>
        </a>
      </div>
    </section>
    
    <!--------------- Footer -------------------------------------------------->

    <footer>
      <%- include('../partials/footer') %>
    </footer>
  
  </body>
</html>