<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>
    <%- include('../partials/head') %>
      <link rel="stylesheet" href="style/Home.css">
</head>
<body>
    <header>      
        <%- include('../partials/header')%>
        
    </header>

    <!--------------- Main -------------------------------------------------->

        <h1>Sorry, you're not permitted to access this page</h1>
        <p>This may be because you aren't logged in or your role doesn't allow access to this page.</p>
    
    <!--------------- Footer -------------------------------------------------->

    <footer>
      <%- include('../partials/footer') %>
    </footer>
  
  </body>
</html>