<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>      
        <%- include('../partials/header')%>
        <link rel="stylesheet" href="style/Profile.css">
    </header>

      <!--------------- Main -------------------------------------------------->

    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-image u-section-1" id="carousel_1222" data-image-width="1980" data-image-height="1320">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-1">Your Profile</h1>
        <div class="u-clearfix u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <p class="u-text u-text-3">
                   <!-- Name parameters-->

      <form action="editpassword" method="POST">
      <input type="password" placeholder="password" id="password" name="password" required>
      <a href=""><button id="updatepassword" class="">Update Password</button></a>
      </form>

      <form action="editpostcode" method="POST">
        <input type ="text" placeholder="post code" name ="postcode" required>
        <a href=""><button id="updatepassword" class="">Update Postcode</button></a>
        </form>

        <form action="editdob" method="POST">
          <input type="text" placeholder="date of birth" name="dob" required>
          <a href=""><button id="updatedob" class="">Update Date of Birth</button></a>
          </form>
      
          <form action="editcontactno" method="POST">
            <input type="text" placeholder="emergency contact number" name="contactnumber" required>
            <a href=""><button id="updatecontactno" class="">Update Contact</button></a>
          </form>

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        </form>
          
        <br>
        <br>
        <form action="/deleteuser" method="POST">
          <input type="checkbox" id="confirmDelete" name="confirmDelete" required>
          <label for="confirmDelete">I wish to permanently delete my account.</label>
          <a href=""><button id="deleteButton" class="">Delete Account</button></a>
        </form>
        </a>
      </div>
    </section>
    
    <script>
      fetch('/userProfileValues', {method: "POST"}.then(function(response){

        document.getElementById("password").outerHTML.placeholder = "test"
        
      }))

    </script>
    <!--------------- Footer -------------------------------------------------->

    <footer>
      <%- include('../partials/footer') %>
    </footer>
  
  </body>
</html>