<!DOCTYPE html>
    <html>
        <head>
            <%- include('../partials/head') %>
 

        </head>
        <body>
            <header>      
                <%- include('../partials/header')%>
                <link rel="stylesheet" href="style/Sessions.css">
            </header>
            <!-- The avatar user image -->
            
            <!-- The form to login into the site -->
            <form action="/addSession" method="POST">
                <div id="container">
                    <!-- Username label -->
                    <label for="sessionLocation"><b>Session Location:</b></label>
                    <input type="text" placeholder="Enter Session Location" name="sessionLocation" required>
                    <br>
                    <!-- Password label -->
                    <label for="sessionDate"><b>Session Date:</b></label>
                    <input type="text" placeholder="Enter Session Date" name="sessionDate" required>
                    <!-- Login Button -->
                    <br>
                    <button type="submit" id="submitSession">Submit New Session</button>
                    
                </div>
            </form>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <body>
            
            <div class="w3-container">
              <h2>Current Session List</h2>
              <p>The Current Sessions:</p>

              <ul class="w3-ul w3-hoverable">
                <li id="session1">Event 1 - 22/11/21 - 19:00 <br> <a href=""><button id="deleteSession1" class="" onclick="deleteSession1()">Delete Session</button></a></li>
                <li id="session2">Event 2 - 25/11/21 - 14:00 <br> <a href=""><button id="deleteSession2" class="">Delete Session</button></a></li>
                <li id="session3">Event 3 - 29/11/21 - 18:00 <br> <a href=""><button id="deleteSession3" class="">Delete Session</button></a></li>
              </ul>
            </div>
            </body>
            <div id="container">
           
            <script>function deleteSession1(){document.getElementById("session1".value = "");console.log(1)}</script>
        </div>
            <footer>
                <%- include('../partials/footer')%>
            </footer>
        </body>
    </html>