
<header>
  <!--Button used to stop the changing background colour, for use of people who dislike it or are colourblind-->         
  <!--Nav bar for the site, leading to the other pages-->
  <nav>
      <ul>
          <li><b>Denis Law Legacy Trust&nbsp;</b></li>
          <li><a href="/">Home</a></li>
          <li><a href="/sessions">Event & Attendance Management</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/Mark-Attendance" id = "mark">Mark Attendance</a></li>
          <li><a href="/logout" style="margin-left: 100px;">Logout</a></li>
          
          
       </ul>
      
  
  </nav>
</header>
