 .u-section-1 {
  background-image: url("images/839ca099-1e2b-1220-d705-f157a9c6f43b.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-family: Allerta;
  font-size: 3.75rem;
  margin: 60px 307px 0 308px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 422px;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 376px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-family: Allerta;
  margin: 0;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
  padding: 17px 61px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 52px auto 60px;
  padding: 21px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-1 .u-text-1 {
    width: 525px;
    margin-left: 208px;
    margin-right: 207px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 732px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 98px;
    margin-right: 97px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 422px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 439px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}