<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
<header>
  <%- include('../partials/header')%>
  <link rel="stylesheet" href="css/createAcc.css">
</header>

<body>
  <main>
    <div id="form">
      <!-- form with entry box for each bit of inomfrtaion we want from our user. -->
      <h1 id="heading">Create An Account</h1>
      <!-- submits to our /adduser route. (inspired by lab 16)-->
      <form action="/adduser" method="POST">
        <!-- Name parameters-->
        <label>Name</label>
        
        <input type="text" placeholder="first" name="first">
        <input type="text" placeholder="last"  name="last">
        <!-- Login parameters -->
      </br><label>Login</label>
      <input type="email" placeholder="me@example.com"    name="email">
      <input type="text" placeholder="username"     name="username">
      <input type="password" placeholder="password"  name="password">
        <!-- Detail parameters -->
      </br><label>Details</label>
      <input type ="text" placeholder="post code" name ="postcode">
      <input type="datetime" placeholder="date of birth"    name="dob">
      <input type="text" placeholder="contactinfo" name="contact">
    
        <!-- The button to create the account -->
        </br><button type="submit">Submit</button>
      </form>
    </div>
    <!-- The image for join us -->
    
  </main>
</body>

  <footer>
    <%- include('../partials/footer') %>
  </footer>

</body>

</html>